apiVersion: apps/v1
kind: Deployment
metadata:
    annotations:
        deployment.kubernetes.io/revision: "1"
    labels:
        app: nginx
        tier: frontend
    name: nginx-deploy
    namespace: production
spec:
    replicas: 3
    selector:
        matchLabels:
            app: nginx
    strategy:
        rollingUpdate:
            maxSurge: 1
            maxUnavailable: 0
        type: RollingUpdate
    template:
        metadata:
            labels:
                app: nginx
                tier: frontend
        spec:
            containers:
                - image: nginx:1.25
                  livenessProbe:
                    httpGet:
                        path: /
                        port: 80
                    initialDelaySeconds: 10
                    periodSeconds: 5
                  name: nginx
                  ports:
                    - containerPort: 80
                      protocol: TCP
                  resources:
                    limits:
                        cpu: 200m
                        memory: 256Mi
                    requests:
                        cpu: 100m
                        memory: 128Mi
