name: "[pr] Lint, test, build"

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: "[lint] golangci-lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.2
          args: ./...

  test:
    name: "[test] go test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Test
        run: go test -v ./...

  build:
    name: "[build] go build"
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build
        run: go build -v -o yaml-sort .

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: yaml-sort-ci-linux-amd64
          path: yaml-sort
